*{
    background-color: #B0DFFF;
    padding: 0;
    margin: 0;
    .cuerpo {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns:16% auto 16%;
      grid-template-rows: 160px auto 160px;
      grid-template-areas: 
      "margen contenido margen"
      "cabecera content piedepagina"
      } 
}


  