%logoImg {
    width: 140px;
    border-radius: 50%;
    border: map-get($colores, no_animated_bordercolor) solid 5px;

    &:hover {
        transition: all 0.5s ease;
        transform: scale(1.1);
        border: map-get($colores, animated_bordercolor) solid 7px;
    }
}

%headerNavbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .navbar-nav {
        a {
            margin: 10px;
            font-size: 150%;
            font-weight: bolder;

            &:hover {
                transition: all 0.3s ease;
                transform: scale(1.1);
                border: map-get($colores, animated_bordercolor) solid 3px;
                border-radius: 5px;
                background-color: map-get($colores, animated_backgroundcolor);
                color: map-get($colores, animated_textcolor);
            }
        }

    }

}