/* FOOTER */
.pieDepagina {
    position: relative;
    
    bottom: 0;

    .pieDepagina__links {

        display: flex;
        flex-flow: column;
        align-items: flex-start;
    
    
    
        img {
            @include footerBtn ($animated_bordercolor: rgb(66, 226, 151))
        }
    
        a {
            @include footerTxt ($animated_textcolor:rgb(8, 131, 84))
        }
    }
}



@media screen and (max-width: 400px) {
    .footer {
        height: 200px;
        width: fit-content;

        img {
            width: 20px;
            border: $no_animated_bordercolor solid 1px;
            border-radius: 50%;
        }

        a {
            text-decoration: none;
            color: $footer_textcolor;
        }
    }
}