/* FOOTER */
.pieDepagina {
    position: relative;
    bottom: 0;

    .pieDepagina__links {

        display: flex;
        flex-flow: column;
        align-items: flex-start;
    
    
    
        img {
            width: 30px;
            border: $no_animated_bordercolor solid 3px;
            border-radius: 50%;
    
            &:hover {
                transition: all 0.3s ease;
                transform: scale(1.1);
                border: $animated_bordercolor solid 3px;
                border-radius: 50%;
                background-color: $animated_backgroundcolor;
                color: $animated_textcolor;
            }
        }
    
        a {
            text-decoration: none;
            color: $footer_textcolor;
    
            &:hover {
                transition: all 0.3s ease;
                transform: scale(1.1);
                color: $animated_textcolor;
    
    
            }
        }
    }
}



@media screen and (max-width: 400px) {
    .footer {
        height: 200px;
        width: fit-content;

        img {
            width: 20px;
            border: $no_animated_bordercolor solid 1px;
            border-radius: 50%;
        }

        a {
            text-decoration: none;
            color: $footer_textcolor;
        }
    }
}