header {

    img {
        @extend %logoImg;
    }

    .collapse {
        @extend %headerNavbar;
    }
}

    @media screen and (max-width: 990px) {
        header {
            img {
                width: 120px;
                border-radius: 50%;
                border: $animated_bordercolor solid 3px;
            }

            .collapse {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                .navbar-nav {
                    a {
                        margin: 0;
                        font-size: 100%;
                        font-weight:normal;
                        }
                    }
                }
            }
        }


    @media screen and (max-width: 768px) {
        header {
            img {
                width: 100px;
                border-radius: 50%;
                border: $animated_bordercolor solid 3px;
            }
        }
    }
