header {
    img {
        width: 100px;
        border-radius: 50%;
        border: #63C1FF solid 5px;

        &:hover {
            transition: all 0.3s;
            transform: scale(1.1)
        }
    }

    .navbar-nav {
        a {
            &:hover {
                transition: all 0.3s;
                transform: scale(1.1);
                border: #63C1FF solid 3px;
                border-radius: 3px;
                background-color: #8DB3CC;
                color: #386C8F;
            }
        }

    }

    @media screen and (max-width: 990px) {
        header {
            img {
                width: 120px;
                border-radius: 50%;
                border: #63C1FF solid 3px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        header {
            img {
                width: 100px;
                border-radius: 50%;
                border: #63C1FF solid 3px;
            }
        }
    }
}