/* GALERIA */
.carousel {
    border: #98C3E3 solid 5px;
    border-radius: 5px;
    img {
        width: 100%;
    }
}

/* CONTACTO */
.form {
    width: 80%;
    border: #5C5D5E solid 3px;
    border-radius: 5px;
    .mb-3 {
        margin: 10px;
    }
}


/* TOUR */
.tour {
    width: 100%;
    height: fit-content;
}