/* INDEX */
main {
    height: 100vh;
    img {
        border-radius: 5px;
    }
}

/* GALERIA */
.carousel {
    border: $no_animated_bordercolor solid 5px;
    border-radius: 5px;
    img {
        width: 100%;
    }
}

/* CONTACTO */
.form {
    width: 80%;
    border: $form_bordercolor solid 3px;
    border-radius: 5px;

    .mb-3 {
        margin: 10px;
    }
}

/* TOUR */
.tour {
    width: 100%;
    height: fit-content;
}