/* INDEX */
main {
    height: 100%;
    img {
        border-radius: 5px;
    }
    .card {
        @include cardNmtd ($no_animated_bordercolor:rgb(44, 121, 121),$animated_bordercolor:rgb(66, 226, 191))

        
    }
}

/* GALERIA */
.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;

    img {
        @include cardNmtd ($no_animated_bordercolor:rgb(44, 121, 121),$animated_bordercolor:rgb(66, 226, 191));
        width: 100%;
    }
    iframe {
        @include cardNmtd ($no_animated_bordercolor:rgb(44, 121, 121),$animated_bordercolor:rgb(66, 226, 191));

    }
}

/* CONTACTO */
.form {
    width: 80%;
    border: $form_bordercolor solid 3px;
    border-radius: 5px;

    .mb-3 {
        margin: 10px;
    }
}

/* TOUR */
.tour {
    width: 100%;
    height: fit-content;
}