$colores:(
    container_backgroundcolor: #c0eed4,
    animated_bordercolor: #63ffb1,
    animated_backgroundcolor:#1b5e4a,
    animated_textcolor:#63ffd0,
    no_animated_bordercolor:#659e83,
    footer_textcolor:black,
    form_bordercolor:#5C5D5E
);