header img {
  width: 140px;
  border-radius: 50%;
  border: #659e83 solid 5px;
}
header img:hover {
  transition: all 0.5s ease;
  transform: scale(1.1);
  border: #63ffb1 solid 7px;
}

header .collapse {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
header .collapse .navbar-nav a {
  margin: 10px;
  font-size: 150%;
  font-weight: bolder;
}
header .collapse .navbar-nav a:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
  border: #63ffb1 solid 3px;
  border-radius: 5px;
  background-color: #1b5e4a;
  color: #63ffd0;
}

* {
  background-color: #c0eedf;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
}

@media screen and (max-width: 990px) {
  header img {
    width: 120px;
    border-radius: 50%;
    border: #63C1FF solid 3px;
  }
  header .collapse {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  header .collapse .navbar-nav a {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
  }
}
@media screen and (max-width: 768px) {
  header img {
    width: 100px;
    border-radius: 50%;
    border: #63C1FF solid 3px;
  }
}
/* INDEX */
main {
  height: 100%;
}
main img {
  border-radius: 5px;
}
main .card {
  border: rgb(44, 121, 121) solid 3px;
  border-radius: 3px;
}
main .card:hover {
  transition: all 0.3s ease;
  border: rgb(66, 226, 191) solid 3px;
}

/* GALERIA */
.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}
.carousel img {
  border: rgb(44, 121, 121) solid 3px;
  border-radius: 3px;
  width: 100%;
}
.carousel img:hover {
  transition: all 0.3s ease;
  border: rgb(66, 226, 191) solid 3px;
}
.carousel iframe {
  border: rgb(44, 121, 121) solid 3px;
  border-radius: 3px;
}
.carousel iframe:hover {
  transition: all 0.3s ease;
  border: rgb(66, 226, 191) solid 3px;
}

/* CONTACTO */
.form {
  width: 80%;
  border: #5C5D5E solid 3px;
  border-radius: 5px;
}
.form .mb-3 {
  margin: 10px;
}

/* TOUR */
.tour {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

/* FOOTER */
.pieDepagina {
  position: relative;
  bottom: 0;
}
.pieDepagina .pieDepagina__links {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
.pieDepagina .pieDepagina__links img {
  width: 30px;
  border: #98e3b7 solid 3px;
  border-radius: 50%;
}
.pieDepagina .pieDepagina__links img:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
  border: rgb(66, 226, 151) solid 3px;
  border-radius: 50%;
}
.pieDepagina .pieDepagina__links a {
  text-decoration: none;
  color: black;
}
.pieDepagina .pieDepagina__links a:hover {
  transition: all 0.3s ease;
  transform: scale(1.2);
  color: rgb(8, 131, 84);
}

@media screen and (max-width: 400px) {
  .footer {
    height: 200px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .footer img {
    width: 20px;
    border: #98e3b7 solid 1px;
    border-radius: 50%;
  }
  .footer a {
    text-decoration: none;
    color: black;
  }
}/*# sourceMappingURL=styles.css.map */